.api img {
  width: 100%;
  height: 100%;
}
.api {

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-height: 85vh;
  overflow: auto;
}

.comparison-table {
  min-height: 200px;
}

#table{
    min-height: 100px;
}

#table h2{
  text-align: center;
}
th,
td {
  border: 1px solid black;
  min-width: 50px;
  padding: 10px;
}
td img {
  width: 30%;
  width: 30%;
}
